### Project Specific ###
api-keys\.rkt

Scratchpad\.rkt

weather_data/
tests/


# Created by https://www.gitignore.io/api/racket

### Racket ###
*~
*.bak

compiled/

# End of https://www.gitignore.io/api/racket
